.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.block__number {
  font-size: 70px;
  font-weight: 600;
}

.block__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 10px;
}
.block__buttons button {
  width: 150px;
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}
